<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='{{meta_description}}' name='description'>
    <meta content='true' name='HandheldFriendly'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}"/ >
    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">
    
    <!-- Code colorizer-->
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}"/>
    
    {{ghost_head}}
  </head>
  <body class='animating-in'>
    <header class="site-header">
        <a href='/'>
          <img alt='G. Lucas Roe' src='{{asset '/img/seal.svg'}}'>
          <h1>G. Lucas Roe</h1>
        </a>
        {{navigation}}
    </header>
    <div class='animate-in post-body'>
      {{{body}}}
    </div>
    <footer>
      <p class="copyright">Unless otherwise noted, content is &copy; 2015 G. Lucas Roe, and shouldn't be used without at least asking nicely. I can't stop you, but some wicked bad karma will come your way.</p>
      <p class="social">
        <a href='https://www.linkedin.com/in/glucasroe/'>
          <img alt='LinkedIn' src='{{asset '/img/linked-in.svg'}}'>
        </a>
        <a href='https://github.com/glucasroe'>
          <img alt='Github' src='{{asset '/img/github.svg'}}'>
        </a>
        <a href='https://codepen.io/glucasroe'>
          <img alt='Codepen' src='{{asset '/img/codepen.svg'}}'>
        </a>
        <a href='https://twitter.com/glucasroe'>
          <img alt='Twitter' src='{{asset '/img/twitter.svg'}}'>
        </a>
        <a href='/rss'>
          <img alt='RSS Feed' src='{{asset '/img/rss.svg'}}'>

        </a>
      </p>
    </footer>
    <!-- Code Colorizer -->
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    {{ghost_foot}}
 </body>
</html>
