<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='{{meta_description}}' name='description'>
    <meta content='true' name='HandheldFriendly'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}"/ >
    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">
    
    <!-- GFYCAT -->
    <script>(function(d, t) {var g = d.createElement(t),s = d.getElementsByTagName(t)[0];g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';s.parentNode.insertBefore(g, s);}(document, 'script'));</script>
    
    <!-- GOOGLE ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52980846-2', 'auto');
      ga('send', 'pageview');

    </script>
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>
  <body class='animating-in'>
    <header class="site-header">
        <a href='/'>
          <img alt='G. Lucas Roe' src='{{asset '/img/seal.svg'}}'>
          <h1>G. Lucas Roe</h1>
        </a>
        {{navigation}}
    </header>
    <div class='animate-in post-body'>
      {{{body}}}
    </div>
    <footer>
      <p class="copyright">Unless otherwise noted, content is &copy; 2015 G. Lucas Roe, and shouldn't be used without at least asking nicely. I can't stop you, but some wicked bad karma will come your way.</p>
      <p class="social">
        <a href='https://www.linkedin.com/in/glucasroe/'>
          <img alt='Linked In' src='{{asset '/img/linked-in.svg'}}'>
        </a>
        <a href='https://github.com/glucasroe'>
          <img alt='Github' src='{{asset '/img/github.svg'}}'>
        </a>
        <a href='https://codepen.io/glucasroe'>
          <img alt='Codepen' src='{{asset '/img/codepen.svg'}}'>
        </a>
        <a href='https://twitter.com/glucasroe'>
          <img alt='Twitter' src='{{asset '/img/twitter.svg'}}'>
        </a>
        <a href='/rss'>
          <img alt='RSS Feed' src='{{asset '/img/rss.svg'}}'>

        </a>
      </p>
    </footer>
    {{ghost_foot}}
 </body>
</html>
