<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='{{meta_description}}' name='description'>
    <meta content='true' name='HandheldFriendly'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}"/ >
    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">

    <!-- Code colorizer-->
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}"/>
    <script>
    if(localStorage.getItem('dark-mode') === 'true'){
      document.body.classList.add('dark-mode');
    }
    </script>
    {{ghost_head}}
  </head>
  <body class='animating-in'>
    <header class="site-header">
        <a href='/'>
          <img alt='G. Lucas Roe' src='{{asset '/img/seal.svg'}}'>
          <h1>G. Lucas Roe</h1>
        </a>
        {{navigation}}
    </header>
    <div class='animate-in post-body'>
      {{{body}}}
    </div>
    <footer>
      <p class="copyright">Unless otherwise noted, content is &copy; 2016 G. Lucas Roe, and shouldn't be used without at least asking nicely. I can't stop you, but some wicked bad karma will come your way.</p>
      <p class="social">
        <a href='https://www.linkedin.com/in/glucasroe/'>
          <img alt='LinkedIn' src='{{asset '/img/linked-in.svg'}}'>
        </a>
        <a href='https://github.com/glucasroe'>
          <img alt='Github' src='{{asset '/img/github.svg'}}'>
        </a>
        <a href='https://codepen.io/glucasroe'>
          <img alt='Codepen' src='{{asset '/img/codepen.svg'}}'>
        </a>
        <a href='https://twitter.com/glucasroe'>
          <img alt='Twitter' src='{{asset '/img/twitter.svg'}}'>
        </a>
        <a href='/rss'>
          <img alt='RSS Feed' src='{{asset '/img/rss.svg'}}'>

        </a>
      </p>
    </footer>
    <div class="view-toggle" id="view-toggle"></div>
    <script type="text/javascript" src="{{asset "js/scripts-min.js"}}"></script>
    <script type="text/javascript">
      smoothScroll.init({selector: '[data-scroll]',speed: 500,easing: 'easeInOutQuint',updateURL: true,offset: 16});
      //Pulled from https://github.com/cferdinandi/smooth-scroll/issues/54 Just in case

      document.addEventListener('DOMContentLoaded', function() {
        if (window.location.hash ){smoothScroll.animateScroll(  null, window.location.hash  );}
        if(store.get('dark-mode') == 'true'){
          document.body.classList.add('dark-mode');
        }
      });

      var trigger = document.getElementById('view-toggle');

      trigger.addEventListener('click', function () {
        if (store.get('dark-mode') === 'true'){
          document.body.classList.remove('dark-mode');
          store.set('dark-mode', 'false');
        }else{
          document.body.classList.add('dark-mode');
          store.set('dark-mode', 'true');
        }
      });


      init();
      function init() {
        if (store.enabled) {
            //trigger.classList.add('visible');
            return;
          }
        }


    </script>
    {{ghost_foot}}
 </body>
</html>
