{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}
            <h1 class="post-title">{{{title}}}</h1>
            <div class="post-meta">Posted on <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{tags prefix="under " separator=" | "}}</div>
            <img src="{{image}}" class="contain post-header animated"/>
            <section class="post-content">
                {{content}}
            </section>

            {{/post}}

    </article>

</main>
